/* APPEARANCE STYLE */

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

.box {
	font-size: 100px;
	color: white;
	padding: 10px;
	text-align: center;
	font-family: Lato;
	font-weight: 300;
    box-sizing: border-box;
    flex-basis: 150px;
    flex-grow: 1;
} 

.box-1 {
    background-color: #e51400;
    flex-grow: 3;
}

.box-2 {
    background-color: #fa6800;
}

.box-3 {
    background-color: #f0a30a;
}

.box-4 {
    background-color: #e3c800;
}

/* LAYOUT STYLE */
.container {
    border: 10px solid black;
    display: flex;
    flex-direction: column;
    height: 90vh;
}