.box {
	background: #9b59b6;
	height: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
	color: white;
	font-size: 17px;
}

.rounded {
	border-radius: 20px;
}

.animated:hover {
	background: #e74c3c;
	transform-origin: top left;
	transform: scale(1.5);
}

.animated {
	transition-duration: 1s,               3s;
	transition-property: background-color, transform;
    transition-delay:    0ms,              1000ms;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.crazy:hover {
    transform-origin: center;
    border-radius: 50%;
    background-color: orange;
    transform: scale(0.5) rotate(720deg);
    transition-duration: 1s,            1s,               2s;
    transition-property: border-radius, background-color, transform;
    transition-delay:    0ms,           1000ms,           2000ms;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}